*{
	margin: 0; 
}
 body{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background: url(../img/16083767_ml.jpg);
	background-size: cover;
}
.container{
	width:500px;
	margin: 270px 425px;	
}
.reset-menu{
 	background-color: #485853b5;
 	padding: 20px;
 	margin: 15%;
 	border-radius: 20px;
}
.email{
	padding: 10px;
	margin: 20px 60px;
	border-radius: 7px;
}
.reset-btn{
	background-color: #eaecec;
	padding: 10px 20px;
	font-size: 17px;
	border: 1px solid #eaecec;
	display: block;
	margin: 0 auto;
	transition: 0.7s;
}
.reset-btn:hover{
	cursor: pointer;
	background-color: #231f20cc;
}	